* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #54BAB9, #18978F, #11ce6c, #04999e);
    font-family: 'Roboto', sans-serif;
}

.mainDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal  {
    position: fixed;
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.logo {
    width: 300px;
    margin: 0 0 50px 0;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button#login {
    font-size: 15px;
}

button#login {
    text-decoration: none;
    color: #18978F;
}

button#login:hover {
    background-color: #71a19f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}

button#login {
    background-color: #18978F;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    
}


.loginInput {
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #18978F;
    margin: 10px;
    padding: 10px;
    font-size: 15px;

    
}

.loginInput:focus {
    outline: none;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}
