* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #54BAB9, #18978F, #11ce6c, #04999e);
    font-family: 'Roboto', sans-serif;
}

.mainDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal  {
    position: fixed;
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.logo {
    width: 200px;
    padding-top: 80px;
    margin: 0 0 30px 0;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


button#downInput {
    background-color: #17968e;
    color: #fff;
    width: 200px;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    transition: .5s;
    align-self: center;
}

button#downInput:hover {
    background-color: #1e4f4c;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}


.return {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 80px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
}

#setaReturn {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: #17968e;
    transition: .3s;
}

#setaReturn:hover {
    color: #1e4f4c;
}


.return a {
    text-decoration: none;
    color: #17968e;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
}


.dadosInput {
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #18978F;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

.dadosInput:focus {
    outline: none;
}

#divForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    align-self: ;
}




footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}
