* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #54BAB9, #18978F, #11ce6c, #04999e);
    font-family: 'Rubik', sans-serif;
}

.modal2  {
    position: fixed;
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.modal-content2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo2 {
    width: 250px;
    margin: 20px 0 30px 0;
    justify-content: center;
    align-items: center;
}

#labelFile {
    padding: 20px 10px;
    width: 200px;
    background-color: #17968e;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 2px;
    transition: .5s;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

#labelFile:hover {
    background-color: #1e4f4c;
    
}


#file {
    display: none;
}


.importPlanilha button {
    background-color: #17968e;
    color: #fff;
    width: 200px;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    transition: .5s;
}

.importPlanilha button:hover {
    background-color: #1e4f4c;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.mainDiv2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.return {
    display: flex;
    align-self: flex-start;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    
}

#setaReturn {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: #17968e;
    transition: .3s;
}

#setaReturn:hover {
    color: #1e4f4c;
}

.return a {
    text-decoration: none;
    color: #17968e;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
}


.tablink {
    background-color: #17968e;
    color: #000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    padding-bottom: 5%;
    font-size: 16px;
    height: 5%;
    width: 20%;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 450;
    transition: .5s;
  }
  
  .tablink:hover {
    
    color: #FFF;
  }
  
  .tabcontent {
    color: rgb(192, 1, 1);
    display: none;
    padding: 50px;
    text-align: center;
  }
 
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.tablink#Flash{
    background-color: #fff;    
}